---
import Layout from "../layouts/Layout.astro";
---

<Layout title="No sabes que regalarme por mi cumplea침os?" 
description="sugerencias para hacer un regalo de cumplea침os a Marcos Ram칤rez" keywords="regalos,cumplea침os">
<h1>쯅o sabes que regalarme por mi cumplea침os?</h1>

<p>Vaya... parece que quieres tener un poco m치s de informaci칩n sobre qu칠 regalarme 游때</p>
<p>Estupendo, voy a darte algunas ideas:</p>

<ul>
  <li>Simplemente, felic칤tame (en persona, o virtualmente)</li>
  <li>O inv칤tame a una ca침a (en persona, o <a href="https://www.paypal.com/donate/?hosted_button_id=ARHMLHJREVJ48">virtualmente</a>)</li>
  <li>O, si quieres tener un detalle, y no sabes que... puedes regalarme algo de mis listas de Amazon:</li>
    <ul>
      <li><a href="https://www.amazon.es/hz/wishlist/ls/2ICAR6M2LD175?ref_=wl_share" rel="nofollow" target="_blank">Libros t칠cnicos</a></li>
      <li><a href="https://www.amazon.es/hz/wishlist/ls/K1B6A0ERHMI?ref_=wl_share" rel="nofollow" target="_blank">Cosas para la monta침a</a></li>
      <li><a href="https://www.amazon.es/hz/wishlist/ls/3W4Z9QV85RRO5?ref_=wl_share" rel="nofollow" target="_blank">Cosas para la bici</a></li>
      <li><a href="https://www.amazon.es/hz/wishlist/ls/2QNS1H3JEUH0V?ref_=wl_share" rel="nofollow" target="_blank">Ropa</a></li>
      <li><a href="https://www.amazon.es/hz/wishlist/ls/1S1NVYBRXUSQX?ref_=wl_share" rel="nofollow" target="_blank">Chorradas varias que se me antojan 游뱎游뱎</a></li>

    </ul>
</ul>

<h2>Muchas gracias!</h2>

</Layout>