---
import ImageText from "../components/ImageText.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout title="Marcos Ramirez" description="web personal de Marcos Ramirez" keywords="Marcos Ramírez, Ramirez, web, personal, blog">
  <img src="/images/avatar.png" alt="Marcos Ramírez">
  <h1><ImageText image="/images/Binary.jpg">Marcos Ramírez</ImageText></h1>
  <h2>Software Engineer, Poker Player, Puzzle Addict!</h2>
	
		<p>
			Este es mi dominio personal, aquí encontrarás un poco de todo, si quieres saber más sobre el 
			<Link href="https://marcosramirez.dev">Marcos Ramírez</Link> programador/ingeniero, haz click en el <Link href="https://marcosramirez.dev">enlace</Link>. 
		</p>	

		<p>Si quieres saber sobre mi a titulo mas personal <Link href="/sobre-mi">haz click</Link></p>
		<p>
		El motivo de existir de esta pagina es que desde hace un tiempo, me dedico a intentar posicionar en Google mejor que la cantidad de tocayos "famosos" que tengo:
		<ul>
			<li><strong>Marcos Ramírez</strong> el de las motos</li>
			<li><strong>Marcos Ramírez</strong> el que hace videos clickbait en YouTube</li>
			<li><strong>Marcos Ramírez</strong> el protagonista de <Link href="/marcos-ramirez-la-novela">la novela</Link></li>
		</ul>
	</p>
	
		
<p>
		Así que, de momento, en esta página, podrás encontrar enlaces a mis redes sociales, para que quede claro que no tengo nada que ver con ninguno.
		Y por ejemplo, una lista de <Link href="/cumpleanos">cosas que me puedes regalar para mi cumpleaños</Link> ;)
</p>	
		Aunque probablemente estés aquí por que quieres <Link href="https://marcosramirez.dev">descargar mi Curriculum</Link> en Word, PDF, etc...
		
		O, por que quieres saber más sobre mí.

</Layout>

<style>
h2 {
	margin-top: -40px;
}
</style>