---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cumpleaños">
  <h1><strong>Marcos Ramírez</strong> novela de <strong>Carlos Luis Fallas</strong></h1>
  <p>
    Me llegan muchas visitas buscando el libro, así que, he decidido facilitaros la vida un poco, y por ello os dejo el <a href="https://amzn.to/3uvPljc" target="_blank" rel="nofollow">link al libro</a>.
    Si lo buscáis en formato PDF, o similar, podeís encontrarlo en este otro <Link href="https://letmegooglethat.com/?q=filetype%3APDF+Marcos+Ram%C3%ADrez">enlace</Link>.
  </p>
  <p>
    <strong>Marcos Ramírez</strong> es la tercera novela del escritor y político costarricense, Benemérito de la Patria, Carlos Luis Fallas (1909-1966). 
    Publicada por primera vez en 1952 en la imprenta Falcó,​ es una obra de carácter autobiográfico, que narra las aventuras de un niño campesino natural de
    El Llano de Alajuela, <strong>Marcos Ramírez</strong>, cuyas acciones inocentes se entrelazan con el realismo asaltante de la Costa Rica de principios del siglo XX.
    </p>
<p>
    La historia transcurre primero durante la Dictadura de los Hermanos Tinoco y posteriormente, durante la guerra entre Costa Rica y Panamá en 1921. Junto con Gentes y gentecillas y Mamita Yunai, es considerada como una de las obras de mayor trascendencia de Fallas. De «libro único» en la literatura de su país calificó el escritor León Pacheco Solano la novela, que refleja «el genio del pueblo costarricense», equiparándola, por su dimensión histórica y social, a Las aventuras de Tom Sawyer de Mark Twain.2​
  </p>
  <p>
    Traducida a diversos idiomas, <strong>Marcos Ramírez</strong> recibió en 1962 el Premio Iberoamericano de Novela otorgado por la Fundación William Faulkner, de Estados Unidos.
  </p>
  <p>
    <strong>Marcos Ramírez</strong> fue convertido en 1980 en una serie de televisión de 13 capítulos. La cinta —con guion y producción de Juan Bautista Carballo y dirección de Santiago Herrera— fue rodada en los alrededores de la comunidad de Ciruelas de Alajuela. Tuvo como protagonistas a Sergio Scott (<strong>Marcos Ramírez</strong>), Lenín Vargas (el tío Zacarías) y Xinia Villalobos (la madre). En 1999 se volvió a mostrar, reeditada en un mejor formato.3
  </p>
</Layout>

<style>
main {
  margin-top: 220px;
}

</style>