---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro"

--- 

<Layout title="Sobre mi" keywords="about,sobre,mi,Marcos,Ramírez,Ramirez" description="Información personal sobre Marcos Ramírez">

  <section class="top-2 place-content-start"">

    <h1 class="text-6xl text-white p-10">Quien es Marcos Ramirez</h1>
    <p class="text-base text-pretty text-white">

      Pues soy un informático de la época del pleistoceno casi ya...
      
      Mi primer contacto con un PC fué un <Link href="https://es.wikipedia.org/wiki/Dragon_32/64" target="_blank">Dragon 32</Link>, calculad lo viejo que soy, asi que... sed pacientes, que en breve tendréis la historia completa.
    </p>
  </section>

</Layout>