---
import Layout from "../layouts/Layout.astro";

--- 

<Layout title="Sobre mi" keywords="about,sobre,mi,Marcos,Ramírez,Ramirez" description="Información personal sobre Marcos Ramírez">

  <h1>Quien es Marcos Ramirez</h1>

Pues soy un informático de la época del pleistoceno casi ya...

Mi primer contacto con un PC fué un <a href="https://es.wikipedia.org/wiki/Dragon_32/64" target="_blank">Dragon 32</a>, calculad lo viejo que soy, asi que... sed pacientes, que en breve tendréis toda la historia.

</Layout>