---
import Layout from "../layouts/Layout.astro";

--- 

<Layout title="Sobre mi" keywords="about,sobre,mi,Marcos,Ramírez,Ramirez" description="Información personal sobre Marcos Ramírez">

  <h1>Quien es Marcos Ramirez</h1>

En proceso...

</Layout>