---

---
<footer>
  <span class="copy-left">&copy;</span> 1999-2024 Marcos Ramirez
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;


    width: 100%;
    padding: 15px 50px;
    background-color: #000000;
  }

  .copy-left {
     display: inline-block;
     text-align: right;
     margin: 2px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    size: 5rem;
}
</style>