---
const { title, description, keywords } = Astro.props;
import Header from "../components/Header.astro"
import Footer from "../components/Footer/Footer.astro"
import GoogleAnalytics from "../components/GoogleAnalytics.astro"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link href="/styles.css" rel="stylesheet" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content={description} /> 
    <meta name="author" content="Marcos Ramírez" />
    <meta name="generator" content={"Marcos Ramirez with: " + Astro.generator} />
    <meta name="keywords" content={keywords} />

    <GoogleAnalytics gtagId='G-3XNP18HWLJ' />

		<title>{title}</title>


	</head>
	<body class="responsive">
    <Header />
    <main>
     <slot />
	  </main>

    <Footer />
	
	</body>
</html>
