body {
  background: url('/remembeers/img/beerburbles.gif');
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

.header {
  font-family: 'Fleur De Leah', sans-serif;
  font-size: 80px;
  text-align: center;
}

#content {
  font-family: 'Unna', serif;
  font-size: 50px;
  text-align: center;
}
