body {
  background: url('/remembeers/img/beerburbles.gif');
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

.header {
  font-family: 'Fleur De Leah', sans-serif;
  font-size: 80px;
  color: #fff;
  text-align: center;
  background-color: #000;

}

#content {
  font-family: 'Unna', serif;
  font-size: 50px;
  height: 100%;
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
